<div align="right">
<%= form_with url: "rakuten_search", method: (:get), local: true do |f| %>
  <%= f.label :keyword, "キーワード検索" %>
  <%= f.text_field :keyword %>
  <%= f.submit "検索" %>
<% end %>
</div>
<div align="center">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div>
        <ul class= "list-inline">
        <li>
          <div class="card img-thumbnail">
            <td>
              <img class="card-img-top"><%= image_tag item['mediumImageUrls'][0] %>
            </td>
            <div class="card-body px-2 py-3">
              <h5 class="card-title"><%= number_with_delimiter(item.price) %>円</h5>
              <p class="card-text"><%= link_to item.name, "#{item.url}" %></p>
            </div>
          </div>
          </li>
          </ul>
        </div>
      <% end %>
    <% end %>
    </div>